html, body, h1, h2, h3, h4, h5, h6, p, span, blockquote, figure, figcaption, picture, caption ol, ul, li {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.82em;
}
p{
    line-height: 28px;
}
form{
    border: solid 0.5px #c5c5c5;
    margin: 20px;
    background: #ffffff; 
    background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); 
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); 
    background: linear-gradient(to bottom,  #ffffff 0%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); 
}

fieldset{
    padding: 20px;
    border: none;
}
span.error{
    color: red;
}
#contact label.error{
    color: red;
    width:50%;
}
.openLink{
    background-color: rgb(20, 101, 192);
    color: #ffffff;
    border-radius: 6px;
    padding: 3px 8px;
    margin: 0px 6px;
    text-decoration: none;
}
legend{
    float: left;
    width: 150px;
    margin-right: 20px;
}

.risk_assesment label{
    display: inline-block;
    width: 70px;
    text-align: right;
}
.contact label{
    display: inline-block;
    width: 120px;
}
input[type="radio"] {
    width: 20px;
}
input[type="text"]{
    border:1px solid #bfbfbf;
    border-radius: 8px;
    width: 200px;
    height: 30px;
}
input:focus{
    outline: 0;
    border: 1px solid rgb(106, 196, 21);
}

select{
    background: #fff;
    width: 200px;
    height: 34px;
}
button,
input[type=submit]{
    margin: 40px 20px;
    padding: 8px 20px;
    border-radius: 3px;
    border: 0.5px solid #b5b5b5;
    background: #ffffff; 
    background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); 
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); 
    background: linear-gradient(to bottom,  #ffffff 0%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); 

}
#low, #medium, #high{
    display: none;
    padding: 20px;
    border: solid 0.5px #c5c5c5;
    margin: 20px;
    background: #ffffff; 
    background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); 
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); 
    background: linear-gradient(to bottom,  #ffffff 0%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); 
}
#low h2, #medium h2, #high h2{
    font-size: 1.2em;
    font-weight: 600;
}
#mainRiskOne, #mainRiskTwo{
    font-weight: 600;
    color: navy;
}
h2.hidden{
    display: none;
}
.question {
	position:relative;	
	padding: 0.3em;
    width: 24px;
    height: 21px;
	background:url(images/questionMark.png) top left no-repeat;
    background-size: 28px;
    cursor: pointer;
}

.tooltipBox {
	display:none;
	position:absolute;
	padding: 20px;
	left:38px; 
	width:200px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
	color: #ffffff;
    border:1px solid #000;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.8);
}